<!DOCTYPE html>
<html>
  <head>
    <title>Lista de Produto</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= mensagem %></h1>
    <ul>
      <% docs.forEach(function(produto){ %>
        <li>
            <%= produto.nome %> - <%= produto.quantidade %> - R$<%= produto.preco %>
            <input type="button" onclick="location.href='/delete/produto/<%= produto.id %>'" 
             value="delete" />
            <input type="button" onclick="location.href='/edit/produto/<%= produto.id %>'" 
             value="editar" />
        </li>
      <% }) %>
    </ul>
    <br>
    <br>
    <input type="button" onclick="location.href='/produto/cadastro'"  value="Novo Produto" />  
  </body>
</html>